<!-- Barra de navegación -->
<nav>
    <!-- Lista no ordenada que contiene los elementos de navegación -->
    <ul>
        <!-- Elemento de lista que contiene un enlace a la página de inicio -->
        <li><a href="/">Inicio</a></li>
        <!-- Elemento de lista que contiene un enlace a la página de inicio de sesión -->
        <li><a href="/auth/login">Iniciar Sesión</a></li>
    </ul>
</nav>
